/* 
F2F2F2 - white smoke
282C34 - blue/black
336699 - blue
333333 - black
F2FBE0 - beige 
*/


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  height: 575px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.section.visible {
  opacity: 1;
}

.navbar {
  background-color: #333333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  z-index: 100;
}

.navbar-logo {
  height:30px;
}


.navbar-links li {
  display: inline-block;
  margin-right: 20px;
}

/* .navbar-links li a {
  padding: 5px;
  color: #fff;
  text-decoration: none;
}

.navbar-links li a:hover {
  border-bottom: 2px solid #F2FBE0;
} */

.navbar-button {
  padding: 5px;
  color: #fff;
  background: none;
  border: none;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.navbar-button:hover {
  border-bottom: 2px solid #F2FBE0;
}


.background-image {
  background-image: url('./images/home-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* container styles */
.frame {
  background-color: white;
  color: black;
}

.home-overlay-content {
  position: absolute;
  margin: 0;
  transform: translate(100px, 47%);
  width: 625px;
  padding: 25px;
  /* background: linear-gradient(to right, rgb(177, 173, 173, 0.3), rgba(173, 173, 173, 0.3)); */
  /* background: linear-gradient(to right, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0.3)); */
}

/* .home-overlay-content-h2 {
  color: rgb(0, 47, 255);
} */

h4.home-title {
  margin: 0;
  padding: 12px;
  padding-left: 22px;
  background-color: white;
  width: 500px;
  border-radius: 20px;
  align-items: center;
  font-size: 24px;
  font-weight: 430;
}

h4.home-title span {
  padding-left: 20px;
  align-self: center;
}


.two-column-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  flex: 1 1 40%; 
  padding: 20px;
  float: left;
}

.right-column {
  flex: 1 1 50%; 
  padding: 20px;
  float: left;
}

@media screen and (max-width: 600px) {
  .about-section {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    flex: 1 1 100%;
  }
}